<?xml version="1.0"?>
<launch>
  <include file="$(find hstar_amp)/launch/start.launch" ns="hstar_amp1"/>
  
  <include file="$(find ebolabot)/launch/reflex/bilateral.launch" >
  <arg name="side" value="left"/>
  </include>
  
  <include file="$(find ebolabot)/launch/reflex/bilateral.launch" >
  <arg name="side" value="right"/>
  </include>
  
</launch>
